<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Introduction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <header>
  <!-- NAV BAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="http://www.indianareferees.org/">Indiana Soccer Referees Association</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- MAKE SURE TO USE CURRENT TAG FOR CURRENT PAGE ACROSS PAGES-->
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
  <!-- END NAV BAR-->
  </header>
  
<main class = "row" >
    <p> Hello <span id ="aname"></span></p>


  <select class="form-control">
    <option value="one">Referee 1</option>
    <option value="two">Referee 2</option>
    <option value="three">Referee 3</option>

</select>
<h3>Games Assigned</h3>
<div id = "gameApp" class = "row">
<div class = "col-lg-6 col-md-6 col-sm-7 col-xs-7">
<table id = "new_table" class = "table table-bordered table-striped table-hover table-condensed container">
      <thead>
       <tr class="change2">
      <th class = "text-center"> Future Game name </th>
       <th class = "text-center"> Date </th>


       </tr>
      </thead>
       <br>
      <tbody>
        <tr v-for="book in books">
                      <td> Spain</td><td> <a> 28/1/22 </a></td>
                      <!-- <td>{{ book.Author }}</td> -->
                      <!-- <td>{{ book.Year_Published }}</td> -->
      </tr>
      <tr v-for="book in books">
                    <td> Germany </td><td> <a> 15/2/22 </a></td>
                    <!-- <td>{{ book.Author }}</td> -->
                    <!-- <td>{{ book.Year_Published }}</td> -->
    </tr>
    <tr v-for="book in books">
                  <td> Iceland</td><td> <a> 21/4/22 </a></td>
                  <!-- <td>{{ book.Author }}</td> -->
                  <!-- <td>{{ book.Year_Published }}</td> -->
  </tr>
      </tbody>

  </table>

</div>


<div class = "col-lg-6 col-md-6 col-sm-7 col-xs-7">
<table id = "new_table" class = "table table-bordered table-striped table-hover table-condensed container">
      <thead>
       <tr class="change2">
      <th class = "text-center"> Past Game name </th>
       <th class = "text-center"> Date </th>


       </tr>
      </thead>
       <br>
      <tbody>
        <tr v-for="book in books">
                      <td> France </td><td> <a> 12/12/2020 </a></td>
                      <!-- <td>{{ book.Author }}</td> -->
                      <!-- <td>{{ book.Year_Published }}</td> -->
      </tr>
      <tr v-for="book in books">
                    <td> Italy</td><td> <a> 5/7/21 </a></td>
                    <!-- <td>{{ book.Author }}</td> -->
                    <!-- <td>{{ book.Year_Published }}</td> -->
    </tr>
    <tr v-for="book in books">
                  <td> Holland</td><td> <a> 17/4/20 </a></td>
                  <!-- <td>{{ book.Author }}</td> -->
                  <!-- <td>{{ book.Year_Published }}</td> -->
  </tr>
      </tbody>

  </table>
  </div>
</div>

</main>

<!-- Footer: https://mdbootstrap.com/docs/b4/jquery/navigation/footer/ -->
<footer class="bg-light text-center text-lg-start footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://lizcraig0.wixsite.com/website-4">MSIS Team 18</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- END FOOTER-->

<!-- <script>
new Tablesort(document.getElementById('new_table'));
</script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script type="text/javascript" src="js/admin.js"></script>
</body>

</html>
