<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>

<body class = "container">
  <header>

  <h1>

    <div class = "col-lg-12 col-md-6 col-sm-7 col-xs-7"> Game Details
    </div>



  </h1>


  <nav class = "col-lg-12 col-md-6 col-sm-7 col-xs-7">
    <a href = "referee-list.html">Home    |</a>
    <a href = "referee-details.html">Referee Details    |</a>
    <a href = "game.html">Game details    |</a>
  </nav>






  </header>
<main class = "row">

<div class = "col-lg-12 col-md-6 col-sm-7 col-xs-7">
<table id = "new_table" class = "table table-bordered table-striped table-hover table-condensed">
      <thead>
       <tr class="change2">
      <th class = "text-center"> Name </th>
       <th class = "text-center"> Date </th>
       <th class = "text-center"> Referee </th>
       <th class = "text-center"> Status </th>

       </tr>
      </thead>
       <br>
      <tbody>
        <tr v-for="book in books">
                      <td> Game 1 </td><td> <a> 28/2/22 </a></td> <td> <a> Referee 1, Referee 2 </a></td> <td> <a> Assigned, Tentative </a></td>
                      <!-- <td>{{ book.Author }}</td> -->
                      <!-- <td>{{ book.Year_Published }}</td> -->
      </tr>
      <tr v-for="book in books">
                    <td> Game 2</td><td> <a> 14/7/22 </a></td> <td> <a> Referee 2 </a></td> <td> <a> Assigned </a></td>
                    <!-- <td>{{ book.Author }}</td> -->
                    <!-- <td>{{ book.Year_Published }}</td> -->
    </tr>
    <tr v-for="book in books">
                <td> Game 3 </td><td> <a> 4/4/22 </a></td> <td> <a> - </a></td> <td> <a> Unassigned </a></td>
                  <!-- <td>{{ book.Author }}</td> -->
                  <!-- <td>{{ book.Year_Published }}</td> -->
  </tr>
      </tbody>

  </table>


   <button type="button" class="btn btn-lg btn-primary" style="background-color: #e6baba; color: Black; margin: 10px;" >Refresh</button>
</div>
</main>

<footer class = "rows" style="background-color: #e6baba">

|Phone: 800-555-1234 | 444 Trafalgar Sqaure, Mexico, 432107
</footer>
<!-- <script src='js/tablesort.min.js'></script>
<script src='js/tablesort.date.js'></script> -->
<!-- <script>
new Tablesort(document.getElementById('new_table'));
</script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="js/books.js"></script>
</body>

</html>
