<!DOCTYPE html>
<html lang="en">
   <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    
    <script>dayjs().format()</script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Referee Information</title>
  

  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <header>

  <h1>
    <div class = "col-lg-12 col-md-6 col-sm-7 col-xs-7">
        Referee Information
    </div>
  </h1>


    <nav class = "col-lg-12 col-md-6 col-sm-7 col-xs-7">
      <a href = "referee-list.html">Home    |</a>
      <a href = "referee-details.html">Referee Details    |</a>
      <a href = "game.html">Game details    |</a>
    </nav>
  </header>

  <div id="reffGameApp" class="container">
    <div class="row align-items-start">
      <div class="col col-4" >
        <h1> Select a referee to view/add/edit/delete information.</h1>
        <div v-for="r in reffs" v-on:click="selectReff(r)"
             :class="['ref', {selected: selectedReff && r.id == selectedReff.rname}]">
              <span class="rname">{{ r.rname }}</span><br>
              <!-- <span class="studentName">{{ s.name }}</span> -->
            </div>
        <!-- <p>Profile information for {{ person.name.first }}</p> -->
         <!-- <select class="rid" v-for="r in reffs" id="rid">
          <option value="r.id">{{ r.rname }}</option> -->

          <!-- <select >
              <option v-for="r in reffs"   v-on:click="selectReff(id)":class="['reffs', {selected: selectedReff && r.rname == selectedReff.rname}]" value="r.id">{{ r.rname }}</option> -->
              <!-- <span class="studentName">{{ s.name }}</span> -->
         <!-- </select> -->
        
          <!-- <option class = 'rname' v-on:click="selectReff(r)"
          :class="['reffs', {selected: selectedReff && r.rname == selectedReff.rname}]" value="r.id">{{ r.rname }}</option> -->
        <!-- </select> -->
          <!-- <span class="studentName">{{ s.name }}</span> -->
        </div>
      </div>

      <div class="col col-8" v-if="selectedReff">
        <h1>Info for {{ selectedReff.rname }}</h1>

        <table class="table">
          <thead>
            <tr>
              <th>First/Last Name</th>
              <th>Gender</th>
              <th>Country</th>
              <th>Address</th>
              <th>Birthday</th>
              <th>Age</th>
              <th>Phone</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
            <tbody>
                <tr v-for="p in ofs">
                    <td>{{ p.fname }} {{p.lname }}</td>
                    <td>{{ p.gen }}</td>
                    <td>{{ p.countp }}</td>
                    <td>{{ p.addr }}</td>
                    <td>{{ prettyData(p.bday) }}</td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.ph }}</td>
                    <td><a v-bind:href="'mailto:'+ p.em">{{ p.em }}</a></td>
                    <td>
                      <button type="button" 
                        class="btn btn-outline-secondary btn-sm"
                        v-on:click="selectPerToEdit(p)">Edit</button>
                      <button type="button" class="btn btn-outline-secondary btn-sm"
                        v-on:click="postDeletePer(p)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
         <h3>{{ selectedPer === null ? "Add " : "Edit " }} Information</h3>
            <form v-on:submit.prevent="postPer">
              <div class="mb-3">
                <label for="fname" class="form-label">First Name: </label>
                <input type="text" v-model="perForm.fname"
                 class="form-control" id="fname" >
              </div>
              <div class="mb-3">
                <label for="lname" class="form-label">Last Name: </label>
                <input type="text" v-model="perForm.lname"
                 class="form-control" id="lname" >
              </div>
              <div class="mb-3">
                <label for="gen" class="form-label">Gender: </label>
                <input type="text" v-model="perForm.gen"
                 class="form-control" id="gen" >
              </div>
              <div class="mb-3">
                <label for="countp" class="form-label">Country: </label>
                <input type="text" v-model="perForm.countp"
                 class="form-control" id="countp" >
              </div>
              <div class="mb-3">
                <label for="addr" class="form-label">Address: </label>
                <input type="text" v-model="perForm.addr"
                 class="form-control" id="addr" >
              </div>
              <div class="mb-3">
                <label for="pday" class="form-label">Birth Date: </label>
                <input type="date" v-model="perForm.bday" class="form-control" id="bday">
              </div>
              <div class="mb-3">
                <label for="age" class="form-label">Age: </label>
                <input type="text" v-model="perForm.age"
                 class="form-control" id="age" >
              </div>
              <div class="mb-3">
                <label for="ph" class="form-label">Phone Number: </label>
                <input type="text" v-model="perForm.ph"
                 class="form-control" id="ph" >
              </div>
              <div class="mb-3">
                <label for="em" class="form-label">Email: </label>
                <input type="text" v-model="perForm.em"
                 class="form-control" id="em" >
              </div> 
              <button type="submit" class="btn btn-primary">{{ selectedPer === null ? "Add " : "Edit " }} Information</button>
              <button type="button" class="btn btn-outline-secondary" v-if="selectedPer" v-on:click="resetPerForm">Cancel</button>
            </form> 
            <div class="noOffers" v-if="">
              <h3>No Information 😥</h3>
            </div>
      </div> 
  </div>
  <div>
    <form method="get" action="/admin-referee-list.html">
      <button type="submit" class="btn btn-outline-secondary btn-sm">Go Back</button>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="js/ref-games.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</main>

<footer class = "rows" style="background-color: #e6baba">

|Phone: 800-555-1234 | 444 Trafalgar Sqaure, Mexico, 432107


</footer>
</html>

<!-- #button{
    color:#000!important;
    background-color:#f1f1f1!important; 
    display:block;width:100%;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
  } -->
